TestWebApp/.vs/Calculator/FileContentIndex/626b40f2-4cd8-482f-b0f5-a022e4768aa0.vsidx
TestWebApp/.vs/Calculator/FileContentIndex/c811fce6-ece4-4be0-ab97-dd70dff85a59.vsidx
TestWebApp/.vs/Calculator/FileContentIndex/read.lock
